* {
  box-sizing: border-box;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #298b92;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 0;
  color: white;
}

.walletPage .profilePage a {
  margin-top: 20px;
  text-decoration: none;
  color: white;
}
